HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/uploads/evidencias/reserva_1_1760337025171
/uploads/evidencias/reserva_2_1760337206046
/uploads/evidencias/reserva_3_1760337269088
/uploads/evidencias/reserva_null_1760334286983_IMG_20250721_205439.jpg
/uploads/evidencias/reserva_null_1760334376816_charly.jpg
